/*Main Section*/
html {
	margin: 0;
    padding: 0;
	height: 100%;
    font-size: 16px;
    box-sizing: border-box;
    background-image: linear-gradient(to right, rgba(158, 176, 199, 0), rgb(32, 37, 201));
    color: rgb(255, 255, 255);
}

h1, .Preview h1 {
    font-family: "Cinzel Decorative";
    text-shadow: 3px 3px 0px rgb(4, 18, 94);
    font-weight: 900;
    font-size: 2.3rem;
}

.mainHeader {
    font-size: 5rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-family: "Cinzel Decorative";
    font-weight: 500;
    text-shadow: 3px 3px 0px rgb(4, 18, 94);
}

.mainBody {
    height: auto;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
}


/*Welcome Page*/
.Welcome {
    width: 100%;
    justify-items: center;
}
.WelcomeHeader {
    font-size: 8rem;
    font-family: "Cinzel Decorative";
    text-align: center;
    font-weight: 700;
}

.WelcomeButton{
    width: auto;
    text-transform: uppercase;
    height: 6rem;
    font-family: "IBM Plex Mono";
    font-size: 2rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    background-color: rgb(33, 176, 253);
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.99);
    border-radius: 4px;
}



/*Search Section*/

.searchBarContainer {
    margin-top: 2rem;
    width: 30rem;
   justify-items: center;
}

.SearchBar {
    margin-right: 2rem;
    margin-top: 0.85rem;
}

.SearchBar input {
    width: 20rem;
    height: 2.5rem;
    font-size: 1.2rem;
    border-radius: 4px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.99);
}

.SearchBar button {
    height: 3rem;
    width: 3rem;
    font-size: 1.2rem;
    border-radius: 4px;
    background-color: rgb(33, 176, 253);
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.99);
}

.SearchResults {
    background-image: url("../Images/—Pngtree—blue\ creative\ music\ background_1438100.jpg");
    background-position: 10%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode: overlay;
    justify-items: center;
    text-align: center;
    height: 30rem;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgba(201, 24, 24, 0) rgba(184, 11, 11, 0);
    margin-top: 5.5rem;
    border-radius: 1rem;
    width: 30rem;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.99);
}

.Tracklist {
    margin-top: 3rem;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: "IBM Plex Mono";
    justify-items: center;
    color: rgb(12, 10, 104);
}

.TracksBtnCont{
    display: flex;
    height: 5rem;
}

.TracksBtnCont button {
    font-family: "IBM Plex Mono";
    font-size: 1rem;
    font-weight: 900;
}
.addSongBtn {
    margin-top: 2rem;
    margin-bottom: 3rem;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.99);
    background-color: rgb(205, 205, 240);
    width: 3rem;
    height: 2rem;
    border-radius: 0.5rem;

}

.button:active {
    box-shadow: none;
    margin-top: 2rem;
    margin-bottom: -3rem;
  }

/*Playlist Section*/

.playlistContainer {
    justify-items: center;
    text-align: center;
    width: 30rem;
    height: 40rem;
}

.playlistContainer input {
    width: 20rem;
    height: 2.5rem;
    font-size: 1.2rem;
    border-radius: 4px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.99);
}

.Playlist {
    font-family: "IBM Plex Mono";
    font-weight: 700;
    background-image: url("../Images/—Pngtree—blue\ creative\ music\ background_1438100.jpg");
    background-position: 10%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode: overlay;
    justify-items: center;
    text-align: center;
    height: 30rem;
    overflow-y: scroll;
    margin-top: 2rem;
    border-radius: 1rem;
    width: 30rem;
    color: rgb(12, 10, 104);
    scrollbar-width: thin;
    scrollbar-color: rgba(24, 67, 209, 0) rgba(85, 165, 230, 0);
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.99);
    padding-right: 0;
}

.PlaylistTracks{
    margin-left: 1rem;
    justify-items: center;
}
.removeSongBtn {
    margin-top: 2rem;
    margin-bottom: 3rem;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.99);
    background-color: rgb(205, 205, 240);
    width: 3rem;
    height: 2rem;
    border-radius: 0.5rem;
    font-family: "IBM Plex Mono";
    font-weight: 900;
}

.SpotifyBtn{
    width: 10rem;
    height: 3rem;
    font-size: 0.75rem;
    font-weight: 900;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.99);
    margin-top: 1rem;
    margin-left: 1rem;
    font-family: "IBM Plex Mono";
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    background-color: rgb(78, 78, 206);
    color: rgb(255, 255, 255);
}


/*Preview Section*/

.PreviewContainer {
    justify-items: center;
    text-align: center;
    width: 30rem;
    height: 40rem;
}

.Preview {
    background-image: url("../Images/—Pngtree—blue\ creative\ music\ background_1438100.jpg");
    background-position: 10%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode: overlay;
    justify-items: center;
    text-align: center;
    height: 30rem;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgba(201, 24, 24, 0) rgba(184, 11, 11, 0);
    margin-top: 6.5rem;
    border-radius: 1rem;
    width: 30rem;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.99);
}

.PreviewBtn {
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.99);
    background-color: rgb(205, 205, 240);
    width: auto;
    height: 2rem;
    border-radius: 0.5rem;
    font-family: "IBM Plex Mono";
    font-weight: 900;
}

.Preview img {
    width: 70%;
    height: auto;
    margin-top: 2rem;
    margin-left: 1rem;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.99);
    border-radius: 0.5rem;
}

h6 {
    margin-top: 1rem;
    margin-bottom: 0;
    font-family: "Cinzel Decorative";
    text-shadow: 1.2px 1.2px 0px rgb(131, 135, 185);
    font-weight: 900;
    font-size: 1rem;

}

.AudioPlayerContainer {
    margin-left: 1rem;
    color: rgb(12, 10, 104);
}

audio{
    border-radius: 1.5rem;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.99);
    background-color: rgba(240, 248, 255, 0);
    margin-top: 0.5rem;
}


/*Saved Page*/

.SavePage {
    width: 100%;
    justify-items: center;
    font-size: 8rem;
    font-family: "Cinzel Decorative";
    text-align: center;
    font-weight: 700;
}

.SavedHeader {
    font-size: 8rem;
    font-family: "Cinzel Decorative";
    text-align: center;
    font-weight: 700;
}


.SavedButton{
    width: auto;
    text-transform: uppercase;
    height: 6rem;
    font-family: "IBM Plex Mono";
    font-size: 2rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    background-color: rgb(33, 176, 253);
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.99);
    border-radius: 4px;
}